#eka-paneeli {
	padding-top: 80px;
	padding-bottom: 80px;
}

#a-headeri, #a-subheaderi {
	color: white;
	background-color: rgba(38, 77, 0, 0.7);
	padding: 5px;
}

#a-headeri {
	font-size: 4em;
}

#a-subheaderi {
	font-size: 2em;
}

#form, #results {
	padding: 40px;
}

#eka-paneeli {
	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#koti-energia-label, .fa-home {
	color: #FF8C00;
}

#matkustus-label, .fa-globe {
	color: #008B8B;
}

#jäte-label, .fa-recycle {
	color: #228B22;
}

.progress-bar {
	font-size: 1.2em;
}

.score-info {
	padding: 10px;
	margin: 0;
}